.checkoutFood {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutFoodInfo {
  padding-left: 20px;
}

.checkoutFoodInfo > button {
  background: rgb(197, 65, 25);
  border: 1px solid;
  margin-top: 10px;
  border-color: transparent;
  color: white;
  display: flex;
}

.checkoutFoodImage {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutFoodRating {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
}

.checkoutFoodTitle {
  font-size: 17px;
  font-weight: 800;
}
